{% load static %}
<aside class="left-sidebar" >
  <!-- Sidebar scroll-->
  <div>
    <div
      class="brand-logo d-flex align-items-center justify-content-between"
    >
      <a href="./index.html" class="text-nowrap logo-img">
        <img
          
          src="{% static 'images/logos/cert.png' %}"
          
          width="180"
          alt=""
        />
      </a>
      <div
        class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
        id="sidebarCollapse"
      >
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/projects/list/" aria-expanded="false">
            <span>
              <i class="ti ti-layout-list"></i>
            </span>
            <span class="hide-menu">Projects</span>
          </a>
        </li>

        
       
 
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Profile</span>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="/accounts/profile"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">Profile</span>
          </a>
        </li>

       

      </ul>
      <div
        class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded"
      >
      
        <a
          href="/projects/create/"
          
          class="btn btn-primary w-100"
          
          >Create New Project</a
        >
      </div>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>